* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Vazirmatn:wght@200&display=swap');

body {
   background-color: #fff;
   font-family:'Vazirmatn', sans-serif;
   height: 100vh;
}

.wrapper {
    display: flex;
}

.coluna-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: min(25vw, 20rem);
    background-color: #63B29F;
    color: #FFFFFF;
}

.coluna-a h3 {
    max-width: 70%;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 36px;
    padding-top: 15rem;
    padding-bottom: 2.5rem;
}

.coluna-a h2,
.coluna-a h4 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
}

.coluna-a h2 {
    max-width: 70%;
    text-align: left;
    padding-bottom: 9rem;
}

.coluna-a h4 {
    padding-bottom: 0.6rem;
    text-align: center;
}

.coluna-a .button {
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    background-color: transparent;
    padding-inline: 3.5rem;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

.login {
    text-align: center;
}

.logo {
    float: right;
    margin: 1rem 1rem 0 0;
}

.coluna-b {
    margin: 0 auto;
}

.coluna-b .titulo {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 45px;
    color: #63B29F;
    padding-top: 7.5rem;
    padding-left: 7rem;
    margin-bottom: 5.5rem;
    text-align: left;
}

.coluna-b form {
    text-align: center;
    width: 75vw;
    margin: 0 auto;
}

.coluna-b form label,
.coluna-b form input {
    border: 3px solid #615F5F;
    border-radius: 30px;
    background-color: transparent;
    height: 3.5rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    color: #615F5F;
    width: 37%;
}

.coluna-b form input::placeholder {
    font-weight: 800;
    font-size: 1.25rem;
    color: #615F5F;
}

.coluna-b .linha {
    display: flex;
    width: 100%;
}

.coluna-b form input,
.coluna-b form label {
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.coluna-b form label {
    display: inline-block;
    font-weight: 800;
    padding: 0.7rem 0;
    padding-left: 1rem;
    text-align: left;
}

.coluna-b form input[type="file"] {
    display: none;
}

.coluna-b form .botoes {
    display: flex;
    width: fit-content;
    gap: 2rem;
    margin: 0 auto;
}

.coluna-b form .button {
    margin-top: 3.8rem;
    margin-inline: auto;
    background: #63B29F;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;

    color: #FFFFFF;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 30px;
    cursor: pointer;
    width: 12rem;
}

.pag-1,
.pag-2{
    width: 80%;
    margin: 0 auto;
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}