.vantagens {
    text-align: center;
    height: 100%;
    width: 100%;
    background-image:  url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.vantagens section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 100%;
    margin-top: 100px;
}

.vantagens h3 {
    font-size: 1.3rem;
}

.titulo {
    padding-top: 3rem;
    font-size: 1.5em;
}

.image-home3 {
    width: 200px;
    height: 200px;
}

.vantagens h1 {
    color: #58C5B0;
    padding: 25px;
}
.texto {
    color: #096650;
}


/* class */

.box{
    padding-top: 25px;
    width: 300px;
    height: 400px;
    margin: 0px 30px;
    background-color: white;
    border-radius: 15px;
}
.box p {
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
}

.subtitulo {
    font-size: 1.6rem;

}

.vantagens button {
    align-items: center;
    clear: both;
    background-color: #58C5B0;
    border-radius: 50px;
    color: #fff;
    width: 250px;
    margin: 70px auto;
    font-size: 30px;
    border: none;
    padding: 7px;
}

.vantagens button:hover {
    cursor: pointer;
}

/* Resoluções */

/* Mobile */
@media (min-width: 320px) and (max-width: 359px){
    .vantagens {
        text-align: center;
        height: 100%;
        min-width: 100vw  
    }

    .vantagens section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 100px;
      
    }

    .box{
        padding-top: 25px;
        width: 300px;
        height: 300px;
        margin: 0px 30px;
        background-color: white;
        border-radius: 15px;
    }

    .box p {
        align-items: center;
        padding: 10px;
        font-size: 1.2rem;
    }

    .image-home3 {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 377px) and (max-width: 412px) {
    .vantagens {
        text-align: center;
        height: 100%;
        min-width: 100%  
    }

    .vantagens section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 100px;
      
    }

    .box{
        padding-top: 25px;
        width: 300px;
        height: 300px;
        margin: 0px 30px;
        background-color: white;
        border-radius: 15px;
    }

    .box p {
        align-items: center;
        padding: 10px;
        font-size: 1.2rem;
    }

    .image-home3 {
        width: 100px;
        height: 100px;
    }
    
    .vantagens button {
        align-items: center;
        clear: both;
        background-color: #58C5B0;
        border-radius: 50px;
        color: #fff;
        width: 250px;
        margin: 70px auto;
        font-size: 30px;
        border: none;
        padding: 7px;
    }
}
