@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Vazirmatn:wght@200;300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Vazirmatn';
}

#logo-home {
  position: relative;
  width: 940px;
  margin: left;
  margin: 10px;
}
.nav-bar {
  position: absolute;
  top: 12px;
  bottom: auto;
  right: 70px;
  list-style-type: none;
  background-color: #ffff;
}
.nav-bar li {
  display: inline;
  margin: 0 0 0 28px;
}

#color-btn-signup a {
  color: #24dcbc;
}

#color-btn-login a {
  color: #4ea87f;
}

.nav-bar ul {
  padding-top: 10px;
}

.nav-bar li a {
  padding-bottom: 2px;
  text-decoration: none;
  font-size: 19px;
  color: #767575;
}

.nav-bar li a:hover{
  color: #1a1a0c;
  border-bottom: 2px solid #24dcbc;
}
#color-btn-signup a:hover,
a:active {
  color: #3c877c;
}
#color-btn-login a:hover,
a:active {
  color: #1d523a;
}

/* .headerBorder {
border-bottom: 3px solid #58c5b0;
} */
.background-idosos h1 {
  color: #875757fb;
  font-size: 50px;
  text-align-last: left;
  display: inline;
  font-weight: lighter;
}
.background-idosos h3 {
  font-size: 25px;
  font-weight: 500;
  padding-left: 400px;
  text-align-last: left;
}
#section {
  background-color: #ffffff54;
  margin-left: 20px;
  margin-right: 90px;
  border-radius: 30px;
  width: 50%;
  height: auto;
  padding: 30px 20px 10px 45px;
}
.background-idosos {
  background-image: url('../images/idosos_home.png');
  padding: auto;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  padding: 70px 50px 40px 30px;
  background-position: 30% 45%;
  background-size: cover;
}

/* Footer */
footer {
  background-color: #24dcbc;
  color: #fff;
  padding-top: 200px;
}

.wrapper {
  padding-inline: 50px;
}

.logo {
  width: 245px;
  margin-bottom: 12px;
}

.links h2 {
  font-size: 36px;
}

.col {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.col .titulo {
  font-weight: 700;
}

.col a {
  text-decoration: none;
  color: #fff;
}

footer hr {
  background-color: #fff;
  height: 2px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.termos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
}

.termos p {
  font-size: 18px;
}

.socials {
  display: flex;
  gap: 1.2em;
}

.socials img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
footer hr {
  background: black;
}
