@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Vazirmatn:wght@200;300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Vazirmatn';
}

/* navegáveis */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
}

.nav-bar {
  background-color: #ffff;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  column-gap: 25px;
  flex-wrap: wrap;
}

#color-btn-signup a {
  color: #24dcbc;
}

#color-btn-login a {
  color: #4ea87f;
}

.nav-bar li a {
  text-decoration: none;
  font-size: 19px;
  color: #767575;
}

.nav-bar li a:hover {
  color: #1a1a0c;
  border-bottom: 2px solid #24dcbc;
}

#color-btn-signup a:hover,
a:active {
  color: #3c877c;
}

#color-btn-login a:hover,
a:active {
  color: #1d523a;
}

/* body */

.background-idosos h3 {
  color: #ffff;
  margin: 3% 2%;
  font-size: 50px;
  font-weight: lighter;
}

.transparent-background {
  background-color: #3c877c50;
  width: 100%;
  height: 100%;
}

.container-idosos{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.container-idosos div img {
  width: 65vw;
}
.background-idosos {
  background-image: url('../images/maos_idosos_home.png');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Descricao */
.descricao {
  padding-top: 100px;
  height: 100vh;
  background-image: url('../images/mapa-bairro.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.descricao h3,
.descricao h4 {
  color: #fff;
  margin-inline: 7%;
  border-radius: 16px;
  padding: 16px;
  font-weight: 300;
}

.descricao h3 {
  background-color: rgba(29, 82, 58, 0.85);
  font-size: 50px;
  max-width: 45vw;
}

.descricao h4 {
  background-color: rgba(25, 186, 156, 0.85);
  margin-top: 56px;
  max-width: 35vw;
  font-size: 36px;

}

/* Footer */
footer {
  background-color: #24dcbc;
  color: #fff;
  padding-top: 200px;
}

.wrapper {
  padding-inline: 50px;
}

.logo {
  width: 245px;
  margin-bottom: 12px;
}

.links h2 {
  font-size: 36px;
}

.col {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.col .titulo {
  font-weight: 700;
}

.col a {
  text-decoration: none;
  color: #fff;
}

footer hr {
  background-color: #fff;
  height: 2px;
  border: none;
}

.links {
  display: flex;
  justify-content: space-between;
}

.termos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
}

.termos p {
  font-size: 18px;
}

.socials {
  display: flex;
  gap: 1.2em;
}

.socials img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}