@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Vazirmatn:wght@200;300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Vazirmatn';
}

#logo-home {
  position: relative;
  width: 940px;
  margin: left;
  margin: 10px;
}
.nav-bar {
  position: absolute;
  top: 12px;
  bottom: auto;
  right: 70px;
  list-style-type: none;
  background-color: #ffff;
}
.nav-bar li {
  display: inline;
  margin: 0 0 0 28px;
}

#color-btn-signup a {
  color: #24dcbc;
}

#color-btn-login a {
  color: #4ea87f;
}

.nav-bar ul {
  padding-top: 10px;
}

.nav-bar li a {
  padding-bottom: 2px;
  text-decoration: none;
  font-size: 19px;
  color: #767575;
}

.nav-bar li a:hover{
  color: #1a1a0c;
  border-bottom: 2px solid #24dcbc;
}
#color-btn-signup a:hover,
a:active {
  color: #3c877c;
}
#color-btn-login a:hover,
a:active {
  color: #1d523a;
}

.headerBorder {
border-bottom: 3px solid #58c5b0;
}

.mainBackground {
  background-color: #69c8b6;
  height: auto;
  padding-top: 30px;
  padding-bottom: 14vh;
}

.mainContent {
  background-color: #ffff;
  margin: 30px auto 20px auto;
  border-radius: 80px;
  width: 80%;
  height: auto;
  padding: 40px 40px 120px 50px;
}

.mainContent span, h2 {
  color:#0b6751;
  font-weight: bold;
}

.mainContent h2 {
  font-size: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: fle;

}
.mainContent p {
  font-size: 22px;
  margin-top: 30px;
}

#allignTitle {
  text-align: center;
  color: #0b6751;
}
#allignTitle h1 {
  margin-top: 20px;
  
}
.container {
  display: flex;
  align-items:flex-start;
  gap: 300px;
}


