@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Vazirmatn:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container-home2 {
    background-image: url(../images/mapamundi.png);
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

body{
    font-family: Vazirmatn;
}
.title{
    color: #ffff; 
    font-weight: lighter;
    padding-left: 150px;
    padding-top: 100px;
    
}

.title h1 {
    font-size: 45px;
}

.title h2 {
    font-size: 30px;
    margin-top: 40px;
}
.title strong {
    color: rgb(186, 43, 43);
}
.pic{


}
